.aboutData {
  .aboutDetails {
    margin-top: 6rem;
    margin-inline: 2.5rem;
  }
  .doing {
    margin-inline: 2.5rem;
    margin-top: 2rem;
    color: #44e4af;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .cardContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    height: 20rem;
    width: 100%;
    flex-wrap: wrap;
    .card {
      border: 1px solid hsl(0, 0%, 22%);
      background-color: hsl(240, 1%, 17%);
      border-radius: 10px;
      display: grid;
      grid-template-columns: 30% 65%;
      gap: 1rem;
      margin-left: 2.5rem;
      width: 25rem;
      height: 8rem;
      color: white;
      .cardImage {
        display: flex;
        align-items: center;
        justify-content: center;
        .cardIcon {
          height: 2rem;
          width: auto;
          color: hsl(35, 100%, 68%);
        }
      }
      .cardDataInfo {
        display: grid;
        grid-template-rows: 35% 65%;
        &_name {
          font-weight: 500;
          font-size: 1.2rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .aboutData {
    .aboutDetails {
      margin-top: 2.8rem;
    }
    .doing {
    }
    .cardContainer {
      height: 100%;
      .card {
        margin: 0.2rem;
        margin-inline: 0.5rem;
        .cardImage {
          .cardIcon {
          }
        }
        .cardDataInfo {
          &_name {
          }
        }
      }
    }
  }
}
