.contactData {
  margin-top: 9rem;
  margin-inline: 4rem;
  .contactField {
    display: grid;
    grid-template-columns: 20% 70%;
    margin-top: 1rem;
    .nameLabel {
      margin-top: 0.8rem;
    }
  }
  .buttonSubmit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .contactData {
    margin-top: 2.8rem;
    margin-inline: 1rem;
    .contactField {
      grid-template-columns: 30% 60%;
      .nameLabel {
      }
    }
    .buttonSubmit{
margin-bottom: 1rem;
    }
  }
}