.mainClass {
  background-color: hsl(0, 0%, 7%);
  height: 100vh;
  .innerClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-right: 6.5rem;
    margin-left: 9.5rem;
    height: 100%;
    color: white;
    .leftMenu {
      width: 23%;
      border: 1px solid hsl(0, 0%, 22%);
      background-color: hsl(240, 2%, 12%);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 85vh;
      justify-content: space-between;
      .imageBox {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(240, 1%, 17%);
        height: 9rem;
        width: 10rem;
        // border: 1px solid hsl(0, 0%, 22%);
        border-radius: 20px;
        overflow: hidden;
      }
      .leftName {
        font-weight: 500;
        font-size: 2rem;
      }
      .jobPosition {
        background-color: hsl(240, 1%, 17%);
        padding: 0.4rem;
        text-align: center;
        border-radius: 1rem;
      }
      .basicData {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 90%;
        .leftIcon {
          width: 30%;
          height: 3rem;
          width: 3rem;
          background-color: hsl(240, 1%, 17%);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: hsl(35, 100%, 68%);
        }
        .basicInfo {
          width: 70%;
          display: flex;
          flex-direction: column;
        }
      }
      .leftBottomIcon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-top: 10px;
        .bottomIcon {
          height: 1.5rem;
          width: 1.5rem;
          margin-inline: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .rightMenu {
      width: 77%;
      border: 1px solid hsl(0, 0%, 22%);
      background-color: hsl(240, 2%, 12%);
      border-radius: 20px;
      height: 85vh;
      position: relative;
      .rightMenuTitle {
        position: absolute;
        margin-top: 1rem;
        margin-left: 8rem;
        font-size: 1.7rem;
        font-weight: 600;
        color: #44e4af;
      }
      .rightMenuData {
        position: absolute;
        right: 0;
        background-color: hsl(240, 1%, 17%);
        border: 1px solid hsl(0, 0%, 22%);
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 3.5rem;
        display: flex;
        flex-direction: row;
        width: 37rem;
        .menuList {
          margin-top: 0.7rem;
          margin-inline: 1.3rem;
          font-weight: 500;
          cursor: pointer;
        }
      }
      .allComponent{
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .mainClass {
    height: 100%;

    .innerClass {
      display: flex;
      flex-direction: column;
      margin: 0;
      .leftMenu {
        width: 85%;
        margin-top: 1rem;
        height: 32rem;
        .imageBox {
          margin-top: 1rem;
        }
        .leftName {
        }
        .jobPosition {
        }
        .basicData {
          .leftIcon {
          }
          .basicInfo {
          }
        }
        .leftBottomIcon {
          margin-bottom: 1rem;
          .bottomIcon {
          }
        }
      }
      .rightMenu {
        width: 95%;
        height: auto;
        margin-bottom: 7rem;
        .rightMenuTitle {
          margin: 0;
          margin-top: 0rem;
          margin-left: 1rem;
        }
        .rightMenuData {
          position: sticky;
          width: 100%;
          flex-wrap: wrap;
          height: 6rem;
          border-radius: 20px;
          position: fixed;
          z-index: 1;
          bottom: 0;
          .menuList {
            width: 25%;
            margin: 0;
            margin-top: 0.7rem;
            text-align: center;
          }
        }
        .allComponent{
          height: 100%;
        }
      }
    }
  }
}
