.resumeData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 11rem;
  .resumeCard {
    border: 1px solid hsl(0, 0%, 22%);
    background-color: hsl(240, 1%, 17%);
    height: 5rem;
    width: 16rem;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 60% 40%;
    color: white;
    text-align: center;
    .download{
        margin-top: 0.8rem;
    }
    .downloadIcon{
        margin-top: 1.3rem;
        height: 2rem;
        color: hsl(35, 100%, 68%);
    }
  }
}

@media only screen and (max-width: 1000px) {
    .resumeData {
        margin-top: 3.3rem;
        margin-bottom: 1rem;
        .resumeCard {

          .download{
          }
          .downloadIcon{

          }
        }
      }
}


