
.skillData {
    margin-top: 6rem;
    margin-inline: 2.5rem;
    .skillDataInfo{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30rem;
    .textSkill{
      font-size: 1.1rem;
      margin-left: 3rem;
    }
  }
}


@media only screen and (max-width: 1000px) {
  .skillData {
    margin-top: 9rem;
    margin-inline: 1rem;
    .skillDataInfo{
      height: 25rem;
      margin-bottom: 1rem;
    .textSkill{
    }
  }
}
}


